@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Lobster&display=swap');
:root {
    --h3-color: rgb(108, 14, 239);
    --h3-size: 19.7px;
    --h1-font-family: 'Lobster', 'cursive';
    
}

div{display: inline-block;}
#inicio{text-decoration: none;
padding: 7px;}

h3{
    color: var(--h3-color);
    font-size: var(--h3-size);
}

#inicio::before{text-decoration: none;}

body{
    background-image: linear-gradient(to top, #C37EDB,#B7A6F6, #FC8DCA);
    background-attachment: fixed;*/
}

h1{font-family:var(--h1-font-family);}

p.msgfofa{
    font-family: 'Amatic SC', 'cursive';
    font-size: 25px;
}

h3:hover{
    color:red
}

div{
    word-spacing: 3.5px;
    text-decoration: none;
}

footer{
    background-color: #FC8DCA;
    font-style: oblique;
    text-align: center;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.438) 3px 3px 0px 0px;
    width: 100vh;

}

img{margin-bottom: 20px;
   

    
}

p{
    text-indent: initial;
}

#content{
    background-color: #FC8DCA;
    padding: 10px;
    margin: 5px;
    border-radius: 9px;
    text-align: justify;
    height: max-content;
    width: max-content;
    justify-content: center ;
    place-items: center;
    overflow-y: visible;
    
}

a{
    text-decoration: none;
    
}

a:hover{
    background-color: blanchedalmond;
    transition-delay: 0.5;
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(32, 14, 14, 0.333);
}

.item{
    margin: 2px;
    padding: 3px;
}